{% extends "base.html" %} 
{% block title %}Faces{% endblock %}
{% block intro %}Please fill in a few things to add a new recognisable face.{% endblock %}
{% block content %}
<div class="faces">
    <form action="#" method="post" enctype="multipart/form-data">
        <label for="new_name">Name</label><br>
        <input type="text" name="new_name" id="new_name"><br>
        <br>

        <label>Upload around 10 pictures of your face</label>
        <input type="file" name="file[]" id="image" multiple="">
        <br>

        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}