{% extends "base.html" %} 
{% block title %}Faces{% endblock %}
{% block intro %}Please fill in a few things to add a new recognisable face.{% endblock %}
{% block content %}
<div class="faces">
    <form action="#" method="post" enctype="multipart/form-data">
        <label for="new_name">Name</label><br>
        <input type="text" name="new_name" id="new_name"><br>
        <br>

        <label>Head Straight</label>
        <input type="file" name="image" id="image">
        <label for="image">Select image...</label>
        <br>

        <label>Slightly left</label>
        <input type="file" name="image" id="image">
        <label for="image">Select image...</label>
        <br>

        <label>Slightly left and up</label>
        <input type="file" name="image" id="image">
        <label for="image">Select image...</label>
        <br>

        <label>Slightly left and down</label>
        <input type="file" name="image" id="image">
        <label for="image">Select image...</label>
        <br>

        <label>Slightly right</label>
        <input type="file" name="image" id="image">
        <label for="image">Select image...</label>
        <br>

        <label>Slightly right and up</label>
        <input type="file" name="image" id="image">
        <label for="image">Select image...</label>
        <br>

        <label>Slightly right and down</label>
        <input type="file" name="image" id="image">
        <label for="image">Select image...</label>
        <br>

        <label>Slightly down</label>
        <input type="file" name="image" id="image">
        <label for="image">Select image...</label>
        <br>

        <label>Slightly up</label>
        <input type="file" name="image" id="image">
        <label for="image">Select image...</label>
        <br>

        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}