body{
    background-color: #3e6259;
}

h1{
    text-align: center;
    color:#212922;
}

.title{
    background-color: #AEF6C7;
    display:block;
    margin: 50px 25%;
    padding: 20px;
    border-radius: 10px;
}

.intro{
    background-color:#294936;
    display:block;
    margin: 50px 35%;
    padding: 20px 20px;
    border-radius: 10px;
}

.videos{
    background-color: #AEF6C7;
    display:block;
    margin: 50px 30%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.faces{
    background-color: #AEF6C7;
    display:block;
    margin: 50px 30%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.passcode{
    background-color: #AEF6C7;
    display:block;
    margin: 50px 30%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

p{
    color: #AEF6C7;
}